@import url(http://fonts.gooleapis.com/css?family=Open+Sans);

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Open Sans', sans-serif;

}

header{
  width: 100%;
  height: 50px;
  background: #333;
  color: #FFF;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}

.contenedor{
  width: 98%;
  margin: auto;

}

h3{
  float: left;
}

header .contenedor{
  display: table;
}
